@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.tartalom {
  padding: 1em;
}

.tartalom h1 {
  font-size: 1.8em;
}

.tartalom .pythonlogo {
  float: right;
  margin-right: 2em;
  margin-top: 1em;
  width: 50px;
  height: 50px;
}

.tartalom p {
  font-size: 1em;
}

.letoltesek .elsoletoltes {
  float: right;
  margin-right: 4.7em;
  margin-top: 1.3em;
  width: 2.2em;
  position: relative;
  z-index: 998;
  cursor: pointer;
}

.letoltesek .elsogomb {
  display: none;
  float: right;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-top: 0.8em;
  margin-right: 4em;
  position: relative;
  z-index: 998;
}

.letoltesek .elsogomb:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.letoltesek .letoltesgomb {
  float: right;
  margin-right: 4.7em;
  margin-top: 1.2em;
  width: 2.2em;
  position: relative;
  z-index: 998;
  cursor: pointer;
}

.letoltesek .letoltesgomb2 {
  display: none;
  float: right;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-top: 0.6em;
  margin-right: 4em;
  position: relative;
  z-index: 998;
}

.letoltesek .letoltesgomb2:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.letoltesek li {
  font-size: 1.2em;
  padding: 1.3em;
  color: black;
  border: 1px solid #444444;
  font-weight: bold;
  border-radius: 5em;
  margin-top: -0.2em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 3em;
  position: relative;
}

.letoltesek li:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url("../images/fajl.svg");
  background-size: contain;
  margin-right: 0;
  left: 1.2em;
  bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0 2em;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  .tartalom {
    width: 1080px;
    margin: 0 auto;
  }
  .letoltesek {
    width: 1080px;
    margin: 0 auto;
  }
  .letoltesek .elsoletoltes {
    display: none;
  }
  .letoltesek .elsogomb {
    display: -ms-grid;
    display: grid;
  }
  .letoltesek .letoltesgomb {
    display: none;
  }
  .letoltesek .letoltesgomb2 {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=html.css.map */