@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.test {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
    letter-spacing: 0.3em;
    margin-top: -1.5em;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .Python-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;

    &:hover {
      background: #004385;
    }
  }

  .HTML-cta {
    background: var(--primary-color);
    margin: 1em 0 0 0;
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
    margin-left: 1em;

    &:hover {
      background: #004385;
    }
  }
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: #20272e;
  color: white;
}

ul.features-list {
  padding-left: 0.1em;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/Pipa.svg");
      background-size: contain;
      margin-right: 0.5em;
      left: -2em;
    }
  }
}

.features-section-image {
  display: none;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 0 2em;
    }

    li.current a {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  .test .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 0em 0em 0em 0em;

      h1 {
        font-size: 3em;
        width: 80%;
      }
    }
  }

  .hero-img {
    position: relative;
    display: relative;
    float: right;
    width: 53%;
    margin-top: 1em;
    margin-right: 0;
    margin-left: 0em;
  }

  .primary-cta {
    margin-right: 1em;
  }

  ul.features-list {
    display: block;
    margin-left: 5em;

    li {
      font-size: 1.4em;

      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }

  .features-section {
    position: relative;
    justify-content: space-between;
  }

  .features-section-image {
    display: block;
    position: absolute;
    right: 0em;
    width: 450px;
    bottom: 7em;
    display: flex;
    margin-right: 8em;
  }
}

@media only screen and (min-width: 1450px) {
  .features-section {
    &:before {
      content: "";
      position: absolute;
      width: 10%;
      height: 20em;
      background: var(--primary-color);
      left: 0;
      top: -4em;
    }

    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 20em;
      background: url("../images/Pöttyök.svg") no-repeat;
      left: 4.5em;
      top: 2em;
    }
  }
}
